<h1>Sitio hipotetico</h1>
<p>Bienvendio al sitio hipotetico</p>
<a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, ab fuga, placeat nemo architecto temporibus
    <br>
    facere, ex excepturi sunt modi voluptates quos cumque minus soluta necessitatibus eligendi. Maiores, eaque
    consequatur?</a>
    <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, ab fuga, placeat nemo architecto temporibus
    <br>
    facere, ex excepturi sunt modi voluptates quos cumque minus soluta necessitatibus eligendi. Maiores, eaque
    consequatur?</a>
  <ul>
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
  </ul>
  