<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<a href="/formulario">Manejador a formulario</a>
<a href="/contenido">Manejador a contenido</a>
<a href="/nosotros">Manejador a nosotros</a>

    {{{body}}}
  </body>
</html>
